<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTO</title>
    <link rel="icon" href="/images/EVENTO.ICO">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Baumans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e03d6b8c21.js" crossorigin="anonymous"></script>
<style>
    *{
        font-family:'Baumans', system-ui;
    }
    .hfont{
        font-family:'Barrio', system-ui;
        color: white;
    }
    .bg-img {
  /* The image used */
  background-image: url(/images/bg.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav a{
  margin-left: 2vh;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 17vh;
  left: 30vh;
  color: white;
}
.e1{
  background-color: rgba(0, 0, 0, 0.514);
  padding-left: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.e2{
  padding-top: 30vh;
  padding-bottom: 30vh;
}
.e3{
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 200px;
}
.e4{
  width: 600px;
  height:550px;
  margin-top: 10vh;
  margin-left: 10vh;
}
li{
  color: white;
}
.i{
  background-image: linear-gradient(rgba(0, 0, 2, 0.724), rgba(0, 0, 5, 0.8)), url(/images/pablo-heimplatz-ZODcBkEohk8-unsplash.jpg);
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bottom{
  position: absolute;
  bottom: 17vh;
  left: 30vh;
  color: white;
  margin-left: 50vh;
  text-align:center;
}

</style>
</head>
<body>
<div class="bg-img">
  <div class="bottom-left">
    <h1 class="hfont" style="font-size:45px;">EXPERIENCE THE BLAST OF <br>CENTURIES. . .</h1>
    <div class="e1" style="font-size: 20px;">Immersed in the vibrant tapestry of life,<br>each moment unleashed a powerful blast of <br> events that swept me away on an exhilarating journey.<br> From unexpected encounters to<br> thrilling adventures...</div>
  </div>
  <div class="container">
    <div class="topnav">
      <nav class="navbar navbar-expand-lg bg-body-tertiary pt-3" style="--bs-bg-opacity: 0;">
        <div class="container-fluid opacity-100">
          <a class="navbar-brand text-light ps-4" href="#">EVENTO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light ps-5" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="#s1">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="#s3">EVENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" href="/register">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ps-5" HREF="#s4">CONTACTS</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<section style="background-color: #0F1B24;">
  <div class="container e2">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        <h2 class="hfont pb-5" style="font-size: 40px;"id="s1">ABOUT US</h2>
           <p>We  are a leading event management company dedicated <br>to bringing your visions to life with a team of <br>seasoned professionals, we specialize in creating <br>unforgettable experiences tailored for your<br> unique requirements.</p>
      </div>
      </div>
      <div class="col">
        <div class="p-3">
          <div class="row">
            <div class="col align-self-start" style="margin-right:100vh">
              <img src="/images/andrea-mininni-VLlkOJdzLG0-unsplash.jpg" class="e3 " style="margin-right:30vh">
            </div>
            <div class="col align-self-center" style="margin-right:0vh;margin-top: -40vh;">
              <img src="images\austin-neill-hgO1wFPXl3I-unsplash.jpg" class="e3" >
            </div>
            <div class="col align-self-end" style="margin-right:50vh;margin-top:-30vh;">
              <img src="\images\noiseporn-JNuKyKXLh8U-unsplash.jpg" class="e3" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #0F1B24;">
  <div class="row gx-5">
    <div class="col">
      <center><h2 class="hfont pb-5" style="font-size: 40px;"id="s2">WHO ARE U?</h2></center>
     </div></div>
     <div class="row gx-5" style="background-color: rgba(0, 0, 0, 0.324);margin-left: 7vh;margin-right: 7vh;height: 80vh;">
    <div class="col" style="margin-left: 20vh;margin-top: 7vh;">
     <div class="p-3 ">
      <A HREF="/register"><img src="\images\OR.jpg" class="e3"></A>
      <p style="margin-top: 55vh;font-size: 30px;margin-left: 17vh;color: white;" ><A HREF="/register" STYLE="color: white;">USER</A></p>
     </div>
    </div>
    <div class="col" style="margin-left: 20vh;margin-top: 7vh;">
      <div class="p-3 ">
        <A HREF="/organiser"><img src="\images\ORG.png" class="e3"></A>
        <p style="margin-top: 55vh;font-size: 30px;margin-left: 10vh;color: white;"><A HREF="/organiser" STYLE="color: white;">ORGANIZATION </A></p>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #0F1B24;padding-top: 20vh;">
  <div class="i">
    <div class="bottom">
      <h1 class="hfont" style="font-size:45px;">TESTIMONIALS...</h1>
      <div class="" style="font-size: 20px;">Join us for some exciting and <br>amazing journey with a team of<br> seasoned professionals..</div>
    </div>
  </div>
</section>

<footer style="background-color: #0F1B24;">
  <center><h1 class="hfont" style="font-size:45px;padding:5vh"id="s4">CONTACT US</h1></center>
  <div class="row">
    <div class="col-4" style="padding-left:10vh;color:white">
       <h3>ADDRESS</h3><br>
       <p>JSS Hostel,<br>Srinivaspura,Kengeri,<br>Bangalore-560060</p><br><br>
       <h3>GENERAL ENQUIRES</h3>
       <p>evento@gmail.com<br>+91-990056460<br>+91-9740723439</p>
    </div>
    <div class="col-4" style="padding-left:10vh;color:white">
      <h3 style="margin-top: 34vh;">SOCAL MEDIA</h3><br>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="col-4">
       <h2 class="hfont" style="font-size:40px;padding: 5vh;">EVENTO</h2>
       <p style="font-size:18px;padding: 2vh;color: white;">
        We are leading event management company <br>dedicatedto bringing your visions to life.<br> Creating unforgettable experiences tailored<br> for your unique requirements.
       </p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body></html>